[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "bundle/Tabular"]
	path = bundle/Tabular
	url = https://github.com/vim-scripts/Tabular.git
