[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/vim-scripts/minibufexpl.vim.git
[submodule "bundle/Tabular"]
	path = bundle/Tabular
	url = https://github.com/vim-scripts/Tabular.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = https://github.com/vim-scripts/snipMate.git
[submodule "bundle/LaTeX-Suite"]
	path = bundle/LaTeX-Suite
	url = https://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "tags/cppheader"]
	path = tags/cppheader
	url = https://github.com/vim-scripts/tags-for-std-cpp-STL-streams-....git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
[submodule "bundle/cocoa"]
	path = bundle/cocoa
	url = https://github.com/vim-scripts/cocoa.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/google.vim"]
	path = bundle/google.vim
	url = https://github.com/vim-scripts/google.vim.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-preview
	url = https://github.com/greyblake/vim-preview.git
